.vscode
Game/test
Game/a.out
Game/legacy.txt
Game/OldPlayer/
Server/ideas.txt
Client/a.out
Client/Battleships
Client/BattleshipsTest
Client/OldClient
Client/oldSendMsg.txt
Server/OldServer
Server/a.out
Server/BattleshipsServer